/*IMPORT FONT FAMILY*/
@font-face {
  src: url(../font/PlayfairDisplay-Regular.ttf);
  font-family: "playfair";
}

@font-face {
  src: url(../font/Raleway-Regular.ttf);
  font-family: "Raleway";
}

/*UNIVERSAL CHANGEMENT*/
*, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1px;
  color: #191919;
  font-family: "Raleway";
}

h1{
  font-size: 30px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}

p, blockquote{
  font-family: "playfair";
  font-size: 14px;
  line-height: 28px;
  color: #595959;
  text-align: justify;
}

blockquote
{
  font-size: 16px;
  margin-left: 32px;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

/*
 ######
 #     # ###### #    #  ####    ##   #####  #      ######
 #     # #      #    # #       #  #  #    # #      #
 ######  #####  #    #  ####  #    # #####  #      #####
 #   #   #      #    #      # ###### #    # #      #
 #    #  #      #    # #    # #    # #    # #      #
 #     # ######  ####   ####  #    # #####  ###### ######
*/

#main{
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.section{
  height: 100%;
  right: 0;
  left: 100%;
  position: absolute;
  overflow: hidden;
}

#main .active{
  left: 0;
}

.line{
  display: block;
  width: 1px;
  margin: 10px auto;
  height: 20px;
  background-color: #888;
}

.wrapper{
  height: calc(100% - 200px);
  padding: 20px;
  overflow-y: scroll;
}

#home .wrapper{
  overflow: hidden;
}

.item{
  float: left;
  width: 100%;
  min-height: 256px;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.item img{
  margin: auto;
  display: block;
  width: 256px;
  height: 256px;
  border: 4px solid lightgray;
}

/*App*/

.app{
  position: relative;
  height: 200px;
  background-color: #CCC;
  padding: 10px;
  background: url(../img/background.png);
  background-size: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.doorL, .doorR ,.character{
  position: absolute;
  bottom: 0;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.character{
  left: 50%;
  height: 111px;
  width: 75px;
  z-index: 10;
  background: url(../img/character_tileset.png) 0 0 no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}

.character.direction--left{
  background-position: 0 0;
}

.character.direction--left.walk-1{
  background-position: -75px 0;
}

.character.direction--left.walk-2{
  background-position: -150px 0;
}

.character.direction--left.jump{
  background-position: -225px 0;
}

.character.direction--right{
  background-position: -300px 0;
}

.character.direction--right.walk-1{
  background-position: -375px 0;
}

.character.direction--right.walk-2{
  background-position: -450px 0;
}

.character.direction--right.jump{
  background-position: -525px 0;
}

.doorL, .doorR{
  height: 120px;
  cursor: pointer;
  animation-name: door;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.doorL{
  left: 0;
}

.doorR{
  transform: translateX(-100%);
  left: 100%;
}

/*keyframes*/

@keyframes door {
  0%{
    box-shadow: none;
    filter: none;
  }
  50%{
    box-shadow: inset 0 0 100px rgb(20,110,255);
    filter: brightness(1.3);
  }
}

/*
 #     #
 #     #  ####  #    # ######
 #     # #    # ##  ## #
 ####### #    # # ## # #####
 #     # #    # #    # #
 #     # #    # #    # #
 #     #  ####  #    # ######
*/

#home .wrapper{
  padding: 0;
}

#home .wrapper header{
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/ground.png);
  background-size: 120px;
  background-position: top left;
  background-repeat: repeat-x;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#home .wrapper .headings{
  border: 1px solid;
  border-radius: 3px;
  background-color: #eee;
  padding: 15px 7px 7px 7px;
  position: relative;
}

#home .wrapper .headings:before, #home .wrapper .headings:after{
  content: "";
  display: block;
  border-style: solid;
  position: absolute;
  left: 45%;
  width: 0;
  height: 0;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #eee transparent;
}

#home .wrapper .headings:before{
  top: -12px;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #222 transparent;
}


#home .wrapper header h1{
  text-align: center;
  line-height: 30px;
}

#home .wrapper header h2{
  text-align: center;
  font-size: 25px;
  color: #393939;
}

#home .wrapper .content{
  height: calc(100% - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .wrapper .content h2{
  text-align: center;
}

/*
    #
   # #   #####   ####  #    # #####
  #   #  #    # #    # #    #   #
 #     # #####  #    # #    #   #
 ####### #    # #    # #    #   #
 #     # #    # #    # #    #   #
 #     # #####   ####   ####    #
*/
#about .wrapper .item{
  margin-bottom: 20px;
  margin-top: 0;
}

#about .item-wrapper{
  width: 100%;
}

#about .wrapper img{
  width: auto;
}

#about h2{
  margin-top: 10px;
  text-align: center;
}

#about p{
  text-indent: 32px;
}
/*
 ######
 #     # #####   ####       # ######  ####  #####
 #     # #    # #    #      # #      #    #   #
 ######  #    # #    #      # #####  #        #
 #       #####  #    #      # #      #        #
 #       #   #  #    # #    # #      #    #   #
 #       #    #  ####   ####  ######  ####    #
*/

#project .wrapper h2{
  margin-top: 10px;
  text-align: center;
}

/*
  #####
 #     #  ####  #    # #####   ##    ####  #####
 #       #    # ##   #   #    #  #  #    #   #
 #       #    # # #  #   #   #    # #        #
 #       #    # #  # #   #   ###### #        #
 #     # #    # #   ##   #   #    # #    #   #
  #####   ####  #    #   #   #    #  ####    #
*/

#contact h2{
  margin-top: 30px;
  text-align: center;
}

#contact .mail{
  text-align: center;
  margin: auto;
  display: block;
  font-family: "playfair";
  font-size: 14px;
  line-height: 28px;
  color: #595959;
  text-decoration: none;
}

.icon-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-container a{
  font-size: 75px;
  color: #595959;
  text-decoration: none;
}

/*
 ######
 #     # ######  ####  #####   ####  #    #  ####  # #    # ######
 #     # #      #      #    # #    # ##   # #      # #    # #
 ######  #####   ####  #    # #    # # #  #  ####  # #    # #####
 #   #   #           # #####  #    # #  # #      # # #    # #
 #    #  #      #    # #      #    # #   ## #    # #  #  #  #
 #     # ######  ####  #       ####  #    #  ####  #   ##   ######
*/

@media (min-width: 560px){
  p{
    font-size: 16px;
    line-height: 32px;
  }

  h1{
    font-size: 33px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 23px;
  }
}

@media (min-width: 768px){
  p{
    font-size: 18px;
    line-height: 36px;
  }

  h1{
    font-size: 38px;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 28px;
  }
}

@media (min-width: 968px){
  p{
    font-size: 20px;
    line-height:40px;
  }

  h1{
    font-size: 41px;
  }

  h2{
    font-size: 38px;
  }

  h3{
    font-size: 31px;
  }
}

@media (min-width: 560px) {
  #about .wrapper{
    display: flex;
    flex-direction: column;
  }

  #about .wrapper .item-wrapper{
    order: -2;
  }

  #about h2{
    line-height: 46px;
  }

  #about .line{
    display: none;
  }

  #about .wrapper .item{
    width: 50%;
  }

  #about #mirror{
    display: block;
  }
}

@media (min-width: 768px) {
  #about .wrapper{
    display: block;
  }

  #about #mirror{
    display: none;
  }

  #about .wrapper .item{
    width: 35%;
  }

  #about h2{
    float: right;
    width: 65%;
    text-align: right;
  }
}

@media (min-width: 950px) {
  #about .wrapper .item{
    width: 27.5%;
  }

  #about h2{
    width: 72.5%;
  }
}

@media (min-width: 1220px) {
  #about .wrapper .item{
    width: 22.5%;
  }

  #about h2{
    width: 77.5%;
  }
}

@media (min-width: 630px) {
  #project .wrapper .item{
    width: 50%;
  }
}

@media (min-width: 950px) {
  #project .wrapper .item{
    width: 33%;
  }
}

@media (min-width: 1220px) {
  #project .wrapper .item{
    width: 25%;
  }
}

@media (min-height: 560px){
  #contact h2{
    margin-top: 100px;
  }
}

@media (min-height: 700px){
  #contact h2{
    margin-top: 120px;
  }
}

@media (min-height: 560px){
  .line{
    margin: 15px auto;
  }
}

@media (min-height: 700px){
  .line{
    margin: 20px auto;
  }
}
