/* General */

*, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1px;
  color: #191919;
  font-family: 'Raleway','Open Sans', Helvetica, Arial, sans-serif;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #595959;
  text-align: justify;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bbb;
  height: 0;
}

#preloader {
  position : fixed;
  z-index: 9999999;
  background : url('../img/preloader.gif') 50% 50% no-repeat;
  background-color: #ddd;
  top : 0;
  left : 0;
  right: 0;
  bottom: 0;
}

/* Component */

.section{
  padding-top: 200px;
  background-color: #ddd;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 0px;
}

.section.active{
  height: auto;
  min-height: 100%;
  overflow-y: auto;
}

.section.active .transition-pulse{
  animation: pulse 1s 1;
}

@keyframes pulse
{
   0% {
        box-shadow: 0 0 0 0px #777, inset 0 0 0 3px #777;
   }
   100% {
        box-shadow: 0 0 0 25px transparent, inset 0 0 0 0px transparent;
   }
}

.line{
  display: block;
  width: 1px;
  margin: 10px auto;
  height: 20px;
  background-color: #888;
}

.item{
  float: left;
  width: 100%;
  min-height: 256px;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.item img{
  margin: auto;
  display: block;
  width: 256px;
  height: 256px;
  border: 4px solid lightgray;
}

/*App*/

.app{
  transition: all 0.2s ease;
  position: fixed;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #CCC;
  background: url(../img/background.png) 0 0 repeat-x;
  background-size: auto 200px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.app.shrink{
  transition: all 0.5s ease;
  height: 150px;
  background-size: auto 150px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.doorL, .doorR ,.character{
  position: absolute;
  bottom: 0;
}

.character{
  left: 50%;
  height: 111px;
  width: 111px;
  z-index: 10;
  background: url(../img/character_tileset.png) 0 0 no-repeat;
  margin-left: -55px;
  margin-bottom: -11px;
}

.character.transition{
  transition: 0.15s bottom ease-in;
}

body.mobile .character.transition{
  transition: 0.16s left linear;
}


.character.direction--left{
  background-position: 0 0;
}

.character.direction--left.walk-1{
  background-position: -111px 0;
}
.character.direction--left.walk-2{
  background-position: -222px 0;
}
.character.direction--left.walk-3{
  background-position: -333px 0;
}
.character.direction--left.walk-4{
  background-position: -444px 0;
}
.character.direction--left.walk-5{
  background-position: -555px 0;
}
.character.direction--left.walk-6{
  background-position: -666px 0;
}
.character.direction--left.walk-7{
  background-position: -777px 0;
}
.character.direction--left.walk-8{
  background-position: -888px 0;
}

.character.direction--right{
  background-position: 0 -111px;
}
.character.direction--right.walk-1{
  background-position: -111px -111px;
}
.character.direction--right.walk-2{
  background-position: -222px -111px;
}
.character.direction--right.walk-3{
  background-position: -333px -111px;
}
.character.direction--right.walk-4{
  background-position: -444px -111px;
}
.character.direction--right.walk-5{
  background-position: -555px -111px;
}
.character.direction--right.walk-6{
  background-position: -666px -111px;
}
.character.direction--right.walk-7{
  background-position: -777px -111px;
}
.character.direction--right.walk-8{
  background-position: -888px -111px;
}


.doorL, .doorR{
  height: 70px;
  cursor: pointer;
}

.doorL{
  left: 5px;
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.doorR{
  right: 5px;
}

/* Content */

#home header{
  height: 180px;
  width: 100%;
  background: url(../img/ground.png) 0 0 repeat-x;
  background-size: 120px;
  position: relative;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.dialog{
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -140px;
  width: 280px;
  border: 1px solid;
  border-radius: 3px;
  background-color: #eee;
  padding: 12px 0 7px 0;
}

.dialog:before, .dialog:after{
  content: "";
  display: block;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: -10px;
  margin-left: -11px;
  border-width: 0 11px 11px 11px;
  border-color: transparent transparent #eee transparent;
}

.dialog:before{
  top: -12px;
  margin-left: -12px;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #222 transparent;
}

.dialog h1{
  line-height: 30px;
  font-size: 38px;
}

.dialog h2{
  font-size: 18px;
  color: #393939;
}

.dialog h2:after{
  content: "|";
  animation: cursor .5s infinite alternate;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact h2{
  margin-top: 30px;
}

#contact .mail{
  margin: auto;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #595959;
  text-decoration: none;
}

.icon-container{
  margin-top: 10px;
  padding-bottom: 25px;
  width: 100%;
}

.icon-container a{
  border-radius: 50%;
  font-size: 75px;
  color: #595959;
  text-decoration: none;
}

@media (min-width: 768px){
  p{
    font-size: 18px;
    line-height: 36px;
  }

  h1{
    font-size: 38px;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 28px;
  }
}

@media (min-width: 992px){
  p{
    font-size: 20px;
    line-height:40px;
  }

  h1{
    font-size: 41px;
  }

  h2{
    font-size: 38px;
  }

  h3{
    font-size: 31px;
  }
}

@media (min-width: 1200px) {

}

@media (min-height: 560px){
  #contact h2{
    margin-top: 100px;
  }
  .line{
    margin: 15px auto;
  }
}

@media (min-height: 700px){
  #contact h2{
    margin-top: 120px;
  }
  .line{
    margin: 20px auto;
  }
}

/*Bootstrap*/

.badge{
    display: inline-block;
    padding: .25em .4em;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff;
    background-color: #6c757d;
}

.text-center{
  text-align: center;
}

.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.thumbnail img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

/* Font awesome */

.fa{
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1;
  width : 1em;
}